__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Databases
*.db
*.sqlite3

# Ignore sensitive files
google_credentials.json
.streamlit/secrets.toml
backend/data/login_logs.json
backend/data/users_backup.json

# Streamlit
.streamlit/
